// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

// $primary   = #027be3
// $secondary = #26A69A
// $tertiary  = #555

// $neutral   = #E0E1E2
// $positive  = #21BA45
// $negative  = #DB2828
// $info      = #31CCEC
// $warning   = #F2C037

// .dark-primary-color    { background: #303F9F; }
// .default-primary-color { background: #3F51B5; }
// .light-primary-color   { background: #C5CAE9; }
// .text-primary-color    { color: #FFFFFF; }
// .accent-color          { background: #9E9E9E; }
// .primary-text-color    { color: #212121; }
// .secondary-text-color  { color: #757575; }
// .divider-color         { border-color: #BDBDBD; }

// .description, .card-description, .footer-big p {
//   color: #9b9b9b; }
// 
// .text-warning {
//   color: #dfa92d; }
// 
// .text-primary {
//   color: #94d195; }
// 
// .text-danger {
//   color: #f44336; }
// 
// .text-success {
//   color: #62b965; }
// 
// .text-info {
//   color: #9a9172; }
// 
// .text-rose {
//   color: #e91e63; }
// 
// .text-gray {
//   color: #999; }

$primary   = #3f51b5
$secondary = #bdbdbd
$tertiary  = #555

$neutral   = #62b965
$positive  = #62b965
$negative  = #f44336
$info      = #31CCEC
$warning   = #F2C037

$body-background = #FFFFFF